<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TinyBlog</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Sintony:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{{url_for('static', filename="blog.css")}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css_header %}{% endblock %}

  </head>

  <body>

    <section id="page">

      <nav id="navigation-menu">
      {%- block topbar -%}
        <div class="blog-masthead">
          <div class="container">
            <nav class="blog-nav">
              <a class="blog-nav-item {%if not is_page and not is_single%}active{%endif%}" href="/">Home</a>
              {% for menu_page in pages %}
              <a class="blog-nav-item {%if page and page.slug == menu_page.slug%}active{%endif%}" href="{{url_for('page_detail', slug=menu_page.slug)}}">{{menu_page.title}}</a>
              {% endfor %}
            </nav>
          </div>
        </div>
      {%- endblock -%}
      </nav>

      <header>
        <div class="blog-header-back">
          <div class="container">
            <div class="blog-header">
              <img src="/static/logo.png">
            </div>
          </div>
        </div>
      </header>


      <section class="container">

        {% block page_header %}{% endblock %}


        <div class="row">

          <div class="col-sm-12 blog-main">

            {% block content %}{% endblock %}

          </div><!-- /.blog-main -->

        </div><!-- /.row -->

      </section><!-- /.container -->

      {% block footer %}
      <footer>
        <div class="blog-footer">
          <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </div>
      </footer>
      {%endblock%}

    </section> <!-- End Section Page -->

    <script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js" type="text/javascript"></script>
    {% block js_footer %}{% endblock %}

  </body>
</html>
