{% extends "default/base.html" %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ page.title }}</h1>
  </div>
{% endblock %}

{% block content %}

  <div class="blog-post">
    {{ page.body|truncate(100) }}
  </div><!-- /.blog-post -->

  {%if not is_page%}
  <h2>Comments</h2>
    {% if page.comments %}
      {% for comment in page.comments %}
         <p>{{ comment.body }}</p>
         <p>by <strong>{{ comment.author }}</strong> <small>on {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
        {{ comment.text }}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock %}
