{% extends "default/base.html" %}
{% import "default/_forms.html" as forms %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ post.title }}</h1>
  </div>
{% endblock %}

{% block content %}

  <div class="blog-post">
    <p class="blog-post-meta">{{ post.created_at.strftime('%H:%M %Y-%m-%d') }} | by <a href="#">Chris</a> |
    {% with total=post.comments|length %}
        {{ total }} comment {%- if total > 1 %}s{%- endif -%}
    {% endwith %}
    </p>

    {% if post.body %}
      {% if post.post_type == 'Quote' %}
        <blockquote>{{ post.body }}</blockquote>
        <p>{{ post.author }}</p>
      {% else %}
        <p>{{ post.body }}</p>
      {% endif %}
    {% endif %}
    {% if post.embed_code %}
      {{ post.embed_code|safe() }}
    {% endif %}
    {% if post.image %}
      <p><img src="{{ url_for('image_view',slug=post.slug) }}" /><p>
    {% endif %}

  </div><!-- /.blog-post -->

  {% if post.comments %}
  <h2>Comments</h2>
    {% for comment in post.comments %}
       <p>{{ comment.body }}</p>
       <p>by <strong>{{ comment.author }}</strong> <small>on {{ comment.created_at.strftime('%H:%M %Y-%m-%d') }}</small></p>
      {{ comment.text }}
    {% endfor %}
  {% endif %}

  {%if post.enable_comments%}
  <hr>
  <h2>Add a comment</h2>
  <form action="{{url_for('save_post', slug=post.slug)}}" method="post">
    {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn primary" value="comment">
    </div>
  </form>
  {%endif%}
{% endblock %}
