<div class="socialshare">
	<span class="fa-stack fa-lg twitter">
		<a target="_blank" href="http://www.twitter.com/share?url=">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		</a>
	</span>
	<span class="fa-stack fa-lg face">
		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		</a>
	</span>
	<span class="fa-stack fa-lg gplus">
		<a target="_blank" href="https://plus.google.com/share?url=">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		</a>
	</span>
	<span class="fa-stack fa-lg linkedin">
		<a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true">
		  <i class="fa fa-circle fa-stack-2x"></i>
		  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
		</a>
	</span>
</div>
