<div class="socialshare">
	<span class="fa-stack fa-lg twitter">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	</span>
	<span class="fa-stack fa-lg face">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	</span>
	<span class="fa-stack fa-lg gplus">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
	</span>
	<span class="fa-stack fa-lg linkedin">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
	</span>
</div>
