{% extends 'admin/base.html' %}

{%block body%}
<h1>Tinyblog Administration</h1>
<p>This is the administration of the blog. Use the menus above to create the content.</p>
<p>The possible content is:
<ul>
	<li><strong>Post</strong> - Html/Text based post</li>
	<li><strong>Video</strong> - Embed vídeo code</li>
	<li><strong>Image</strong> - One uploaded image</li>
	<li><strong>Quote</strong> - One quotation</li>
</ul>
Media Files is the location to upload other files do share in your posts.
</p>
{%endblock%}
